.product-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h3 {
    margin: 0;
  }
  
  .product-card p {
    margin: 5px 0;
  }
  
  .product-card input {
    width: calc(100% - 20px); /* Ajusta a largura do input dentro do card */
    margin-bottom: 0;
  }